* {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 10px 25px;
}

thead tr:nth-child(1) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: #E2E2E2;
}

.actions {
    text-align: center;
    background: white;
    padding: 0px;
}

    .editBtn {
        width: 60%;
        height: 100%;
    }